In [6]:
import pandas as pd

# 샘플 데이터프레임 생성
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

In [7]:
df

   A  B
0  1  4
1  2  5
2  3  6

In [8]:
# 'A' 컬럼을 인덱스로 설정
df.set_index('A')

   B
A
1  4
2  5
3  6

In [10]:
df.set_index(['A','B'])

Empty DataFrame
Columns: []
Index: [(1, 4), (2, 5), (3, 6)]

In [12]:
# 샘플 데이터프레임 생성
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

In [13]:
df

   A  B
0  1  4
1  2  5
2  3  6

In [14]:
# 'A' 컬럼을 인덱스로 설정하고 인덱스 이름을 'CustomIndex'로 지정
df = df.set_index('A')
df.index.name = 'CustomIndex'

In [15]:
df

             B
CustomIndex
1            4
2            5
3            6

In [16]:
# 샘플 데이터프레임 생성
data = {'이름': ['Alice', 'Bob', 'Charlie', 'David'],
        '나이': [25, 30, 35, 40]}
df = pd.DataFrame(data)
df

        이름  나이
0    Alice  25
1      Bob  30
2  Charlie  35
3    David  40

In [17]:
df['직업'] = ['학생', '회사원', '의사', '교수']
df

        이름  나이   직업
0    Alice  25   학생
1      Bob  30  회사원
2  Charlie  35   의사
3    David  40   교수

In [19]:
968/120

8.066666666666666

In [22]:
import tqdm

In [23]:
from tqdm import tqdm
import time

for i in tqdm(range(10)):
    # 실행할 작업
    time.sleep(1)  # 예시로 시간 지연 추가

100%|██████████████████████████████████████████████████████████████████████████████████| 10/10 [00:10<00:00,  1.00s/it]

In [24]:
from tqdm.notebook import tqdm
import time

for i in tqdm(range(10)):
    # 실행할 작업
    time.sleep(1)  # 예시로 시간 지연 추가

  0%|          | 0/10 [00:00<?, ?it/s]

In [25]:
from IPython.display import display
import time

for i in range(10):
    # 실행할 작업
    time.sleep(1)  # 예시로 시간 지연 추가
    display(f"진행 중: {i}/10")

'진행 중: 0/10'

'진행 중: 1/10'

'진행 중: 2/10'

'진행 중: 3/10'

'진행 중: 4/10'

'진행 중: 5/10'

'진행 중: 6/10'

'진행 중: 7/10'

'진행 중: 8/10'

'진행 중: 9/10'

In [26]:
def my_function():
    # 함수 내에서 "tqdm" 초기화
    with tqdm(total=10) as pbar:
        for i in range(10):
            # 작업 수행
            time.sleep(0.5)  # 예시로 시간 지연 추가
            # 반복할 때마다 막대 업데이트
            pbar.update(1)
my_function()

  0%|          | 0/10 [00:00<?, ?it/s]