In [1]:
import pandas as pd
import numpy as np

# 결측값 처리

## 숫자형 자료형에 문자열이 들어있는 경우

- 숫자형으로 변경하되, 에러가 발생되는 (결측)값은 `NaN`으로 변경

    `df['num'] = pd.to_numeric(df['num'], errors='coerce')`

    `NaN`이 들어 있는 경우 `sum()`과 같은 연산시 에러가 발생하지 않는다
---    
- `groupby()`에서 유의 사항

    `NaN`이 있는 `row`의 `drop` 옵션을 설정해야 함, 기본은 drop 임

In [38]:

df = pd.DataFrame([1,'-',-2], columns = ['num']

)
df

  num
0   1
1   -
2  -2

In [51]:
# df.num.sum()
# TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   num     3 non-null      object
dtypes: object(1)
memory usage: 156.0+ bytes

In [46]:
# df.num.astype('int')
# ValueError: invalid literal for int() with base 10: '-'

In [52]:
df['num'] = pd.to_numeric(df['num'], errors='coerce')
df

   num
0  1.0
1  NaN
2 -2.0

In [33]:
df.sum()

num   -1.0
dtype: float64

In [34]:
type(df)

pandas.core.frame.DataFrame

In [36]:
df.num = df.num.fillna(0)
df.num

0    1.0
1    0.0
2   -2.0
Name: num, dtype: float64

In [37]:
df.sum()

num   -1.0
dtype: float64