데이터수집 -> 전처리 -> 분석 -> 시각화

기간 : 2023.10.04 - 2023.10.10
발표 : 2023.10.11

In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib
from matplotlib import font_manager, rc  # 한글폰트 설정
import platform

if platform.system()=="Windows":
    font_name=font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)
    
matplotlib.rcParams['axes.unicode_minus']=False

import warnings
warnings.filterwarnings("ignore")

In [3]:
# 간단하게 시각화
import plotly.express as px

# 세세하게 시각화
import plotly.graph_objects as go

# subplot 생성
from plotly.subplots import make_subplots

In [4]:
# 판다스 plot옵션
pd.options.plotting.backend = "plotly"

# data open

## asset data open

In [5]:
asset_detail = pd.read_excel("202303_001.xlsx", sheet_name='상세재산')
asset_total = pd.read_excel("202303_001.xlsx", sheet_name='총계_명단')

In [6]:
asset_detail.head(2)

,연월,no,monaCode,소속구분,소속,직위,이름,재산구분,본인과의관계,재산의 종류,소재지 면적 등 권리의 명세,종전가액,증가액,증가액실거래가격,감소액,감소액실거래가격,현재가액,변동사유
0,202303,61,14M56632,1.국회의원,국회,국회의원,강기윤,예금,본인,NaN,"경남은행 7,448(1 증가), 농협은행 3,617(150,049 감소),농협중앙회...",4123996,3949916,NaN,3975484,NaN,4098428,"급여 저축 및 생활비 지출, 배우자 사업 운영자금"
1,202303,55,14M56632,1.국회의원,국회,국회의원,강기윤,건물,배우자,공장,"경상남도 창원시 의창구 팔용동 대지 2,532.70㎡ 건물1,979.08㎡",2396262,75475,NaN,0,NaN,2471737,가액변동

In [7]:
asset_detail.shape

(5971, 18)

In [8]:
asset_detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5971 entries, 0 to 5970
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   연월               5971 non-null   int64
 1   no               5971 non-null   int64
 2   monaCode         5317 non-null   object
 3   소속구분             5971 non-null   object
 4   소속               5971 non-null   object
 5   직위               5971 non-null   object
 6   이름               5971 non-null   object
 7   재산구분             5971 non-null   object
 8   본인과의관계           5971 non-null   object
 9   재산의 종류           3928 non-null   object
 10  소재지 면적 등 권리의 명세  5971 non-null   object
 11  종전가액             5971 non-null   object
 12  증가액              5971 non-null   object
 13  증가액실거래가격         81 non-null     float64
 14  감소액              5971 non-null   object
 15  감소액실거래가격         84 non-null     float64
 16  현재가액             5971 non-null   object
 17  변동사유             5729 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 839.8+ KB

In [9]:
asset_detail.columns

Index(['연월', 'no', 'monaCode', '소속구분', '소속', '직위', '이름', '재산구분', '본인과의관계',
       '재산의 종류', '소재지 면적 등 권리의 명세', '종전가액', '증가액', '증가액실거래가격', '감소액',
       '감소액실거래가격', '현재가액', '변동사유'],
      dtype='object')

In [10]:
asset_total.head(2)

,연월,no,monaCode,소속구분,소속,직위,이름,종전가액,증가액,감소액,현재가액,증감액,가액변동
0,202303,143,YOG1280B,1.국회의원,국회,국회의원,안철수,204055509,6419280,75765185,134709604,-69345905,-69184290.0
1,202303,230,DPZ7685X,1.국회의원,국회,국회의원,전봉민,106555786,13196875,63835889,55916772,-50639014,NaN

In [11]:
asset_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   연월        333 non-null    int64
 1   no        333 non-null    int64
 2   monaCode  297 non-null    object
 3   소속구분      333 non-null    object
 4   소속        333 non-null    object
 5   직위        333 non-null    object
 6   이름        333 non-null    object
 7   종전가액      333 non-null    int64
 8   증가액       333 non-null    int64
 9   감소액       333 non-null    int64
 10  현재가액      333 non-null    int64
 11  증감액       333 non-null    int64
 12  가액변동      330 non-null    float64
dtypes: float64(1), int64(7), object(5)
memory usage: 33.9+ KB

In [12]:
(asset_total[asset_total['현재가액']>0]['현재가액'].sum()/100000)/330

33.734898212121216

## assembly data open

In [13]:
assem_detail = pd.read_excel("assembly_18_to_21.xlsx", sheet_name='상세')
assem_curr = pd.read_excel("assembly_18_to_21.xlsx", sheet_name='현재')

In [14]:
assem_detail.head(3)

,대수,hjId,monaCode,이름,특이사항,한자,영문명,양력/음력,생년월일,성별,...,직책,전화,위원회,이메일,홈페이지,보좌관,선임비서관,비서관,주요약력,사무실
0,18,2448.0,XQ98168F,강길부,NaN,姜吉夫,KANG GHILBOO,음,1942-06-05,남,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18,2451.0,8I61593E,강석호,NaN,姜碩鎬,KANG SEOKHO,음,1955-12-03,남,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18,2456.0,TOU1222X,강창일,NaN,姜昌一,KANG CHANGIL,음,1952-01-28,남,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
len(assem_detail[(assem_detail['대수']==21)])

316

In [16]:
assem_detail.columns

Index(['대수', 'hjId', 'monaCode', '이름', '특이사항', '한자', '영문명', '양력/음력', '생년월일',
       '성별', '재선횟수', '정당', '선거구', '당선구분', '직책', '전화', '위원회', '이메일', '홈페이지',
       '보좌관', '선임비서관', '비서관', '주요약력', '사무실'],
      dtype='object')

In [17]:
assem_detail['정당'].unique()

array(['무소속', '새누리당', '더불어민주당', '국민의당', '자유한국당', '민주통합당', '통합진보당',
       '자유선진당', '민주노동당', '한나라당', '통합민주당', '친박연대', '민주당', '창조한국당', '진보신당',
       '정의당', '새정치민주연합', '바른미래당', '국민의힘', '진보당', '열린우리당', '새천년민주당',
       '기본소득당', '시대전환', '미래통합당', '미래한국당'], dtype=object)

In [18]:
assem_detail[(assem_detail['대수'] == 21) & (assem_detail['정당'] == '국민의힘')][['대수','이름','정당']].shape

(60, 3)

In [19]:
assem_curr

   번호   교섭단체      정당  지역구  비례대표    계      비율
0   1   교섭단체  더불어민주당  152    16  168   56.38
1   2   교섭단체    국민의힘   89    22  111   37.25
2   3  비교섭단체     정의당    1     5    6    2.01
3   4  비교섭단체   기본소득당    0     1    1    0.34
4   5  비교섭단체    시대전환    0     1    1    0.34
5   6  비교섭단체     진보당    1     0    1    0.34
6   7  비교섭단체   한국의희망    1     0    1    0.34
7   8  비교섭단체     무소속    7     2    9    3.02
8   9     합계     NaN  251    47  298  100.00

In [20]:
asset_detail['종전가액'] = pd.to_numeric(asset_detail['종전가액'], errors='coerce')
asset_detail['증가액'] = pd.to_numeric(asset_detail['증가액'], errors='coerce')
asset_detail['증가액실거래가격'] = pd.to_numeric(asset_detail['증가액실거래가격'], errors='coerce')
asset_detail['감소액'] = pd.to_numeric(asset_detail['감소액'], errors='coerce')
asset_detail['감소액실거래가격'] = pd.to_numeric(asset_detail['감소액실거래가격'], errors='coerce')
asset_detail['현재가액'] = pd.to_numeric(asset_detail['현재가액'], errors='coerce')

In [21]:
asset_detail[['종전가액','증가액','증가액실거래가격','감소액','감소액실거래가격','현재가액']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5971 entries, 0 to 5970
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   종전가액      5939 non-null   float64
 1   증가액       5939 non-null   float64
 2   증가액실거래가격  81 non-null     float64
 3   감소액       5939 non-null   float64
 4   감소액실거래가격  84 non-null     float64
 5   현재가액      5939 non-null   float64
dtypes: float64(6)
memory usage: 280.0 KB

In [22]:
asset_detail[['종전가액','증가액','증가액실거래가격','감소액','감소액실거래가격','현재가액']]

           종전가액        증가액  증가액실거래가격        감소액  감소액실거래가격       현재가액
0     4123996.0  3949916.0       NaN  3975484.0       NaN  4098428.0
1     2396262.0    75475.0       NaN        0.0       NaN  2471737.0
2     2203150.0        0.0       NaN   653150.0       NaN  1550000.0
3     1332280.0        0.0       NaN   382280.0       NaN   950000.0
4      721005.0   619516.0       NaN   603352.0       NaN   737169.0
...         ...        ...       ...        ...       ...        ...
5966    13590.0     7459.0       NaN        0.0       NaN    21049.0
5967    21666.0        0.0       NaN     3421.0       NaN    18245.0
5968   400000.0        0.0       NaN   400000.0       NaN        0.0
5969    70000.0        0.0       NaN    70000.0       NaN        0.0
5970        0.0        0.0       NaN        0.0       NaN        0.0

[5971 rows x 6 columns]

In [23]:
asset_detail.shape

(5971, 18)

In [24]:
asset_detail['소속구분'].unique()

array(['1.국회의원', '2.국회사무처', '3.국회도서관', '5.국회입법조사처', '4.국회예산정책처'],
      dtype=object)

# 재산구분, 재산의 종류

## 재산의 구분, 종류

In [25]:
asset_detail.columns

Index(['연월', 'no', 'monaCode', '소속구분', '소속', '직위', '이름', '재산구분', '본인과의관계',
       '재산의 종류', '소재지 면적 등 권리의 명세', '종전가액', '증가액', '증가액실거래가격', '감소액',
       '감소액실거래가격', '현재가액', '변동사유'],
      dtype='object')

In [26]:
asset_detail['재산구분'].unique(), len(asset_detail['재산구분'].unique())

(array(['예금', '건물', '증권', '토지', '채무',
        '부동산에 관한 규정이 준용되는 권리와 자동차·건설기계·선박 및 항공기',
        '정치자금법에 따른 정치자금의 수입 및 지출을 위한 예금계좌의 예금', '채권', '고지거부 및 등록제외사항',
        '보석류', '회원권', '비영리법인에 출연한 재산', '현금', '지식재산권', '합명·합자·유한회사 출자지분',
        '금 및 백금', '골동품 및 예술품'], dtype=object),
 17)

In [27]:
asset_detail['재산의 종류'].unique(), len(asset_detail['재산의 종류'].unique())

(array([nan, '공장', '비상장주식', '아파트(전세(임차)권)', '연립주택', '과수원', '대지', '금융채무',
        '답', '상가', '임야', '기타', '자동차', '건물임대채무', '사무실(전세(임차)권)',
        '오피스텔(전세(임차)권)', '다세대주택(전세(임차)권)', '아파트', '상장주식', '금융채', '전',
        '잡종지', '토지임대채무', '창고', '상가(전세(임차)권)', '단독주택(전세(임차)권)', '묘지',
        '오피스텔(분양권)', '오피스텔', '도로', '근린생활시설', '국채', '기타(채권)',
        '복합건물(주택+상가)(전세(임차)권)', '콘도미니엄', '출연', '숙박시설', '숙박시설(분양권)', '단독주택',
        '다세대주택', '회사채', '목장용지', '근린생활시설(전세(임차)권)', '저작재산권',
        '다가구주택(전세(임차)권)', '아파트(분양권)', '복합건물(주택+상가)', '자동차관련시설',
        '빌딩(전세(임차)권)', '헬스', '유지', '출자', '연립주택(전세(임차)권)', '공장용지', '사무실',
        '종교용지', '골프', '다가구주택', '빌딩', '주차장', '구거', '하천', '교육연구 및복지시설',
        '숙박시설(전세(임차)권)', '주식매수선택권', '기타(전세(임차)권)', '의료시설(전세(임차)권)', '공채'],
       dtype=object),
 68)

## 재산의 구분과 종류에 따른 합계

In [28]:
asset_detail['재산구분'].unique()

array(['예금', '건물', '증권', '토지', '채무',
       '부동산에 관한 규정이 준용되는 권리와 자동차·건설기계·선박 및 항공기',
       '정치자금법에 따른 정치자금의 수입 및 지출을 위한 예금계좌의 예금', '채권', '고지거부 및 등록제외사항',
       '보석류', '회원권', '비영리법인에 출연한 재산', '현금', '지식재산권', '합명·합자·유한회사 출자지분',
       '금 및 백금', '골동품 및 예술품'], dtype=object)

In [29]:
asset_detail[asset_detail['재산구분']=='예금'].describe()

,연월,no,종전가액,증가액,증가액실거래가격,감소액,감소액실거래가격,현재가액
count,1226.0,1226.000000,1.226000e+03,1.226000e+03,0.0,1.226000e+03,0.0,1.226000e+03
mean,202303.0,2971.225938,2.101724e+05,9.322438e+04,NaN,9.470770e+04,NaN,2.086890e+05
std,0.0,1743.115816,5.945360e+05,2.905588e+05,NaN,3.689656e+05,NaN,5.072947e+05
min,202303.0,4.000000,0.000000e+00,0.000000e+00,NaN,0.000000e+00,NaN,0.000000e+00
25%,202303.0,1417.250000,1.187900e+04,2.420500e+03,NaN,4.067500e+02,NaN,1.416575e+04
50%,202303.0,2933.500000,5.689350e+04,1.540000e+04,NaN,8.193000e+03,NaN,6.048200e+04
75%,202303.0,4518.750000,1.765470e+05,6.232875e+04,NaN,5.428950e+04,NaN,1.941518e+05
max,202303.0,5966.000000,1.283402e+07,3.949916e+06,NaN,7.358470e+06,NaN,8.720813e+06

In [30]:
asset_detail[asset_detail['재산구분']=='건물'].describe()

,연월,no,종전가액,증가액,증가액실거래가격,감소액,감소액실거래가격,현재가액
count,1343.0,1343.000000,1.343000e+03,1.343000e+03,1.600000e+01,1.343000e+03,1.900000e+01,1.343000e+03
mean,202303.0,2929.019360,3.792728e+05,6.679850e+04,3.984824e+05,2.706855e+04,1.359789e+06,4.190027e+05
std,0.0,1706.091435,1.180379e+06,2.285724e+05,2.446149e+05,2.524629e+05,4.535357e+06,1.247722e+06
min,202303.0,1.000000,0.000000e+00,0.000000e+00,9.800000e+04,0.000000e+00,0.000000e+00,0.000000e+00
25%,202303.0,1465.500000,2.000000e+04,0.000000e+00,2.280025e+05,0.000000e+00,0.000000e+00,2.000000e+04
50%,202303.0,2980.000000,1.570000e+05,0.000000e+00,3.500000e+05,0.000000e+00,1.750000e+05,1.750000e+05
75%,202303.0,4422.500000,4.589310e+05,6.000000e+04,4.844520e+05,0.000000e+00,6.775000e+05,5.180000e+05
max,202303.0,5960.000000,3.775119e+07,5.506036e+06,1.099000e+06,7.951755e+06,2.000000e+07,4.021844e+07

In [31]:
# groupby에서 nan가 있으면 기본이 drop임....
asset_div = asset_detail.groupby(['재산구분', '재산의 종류'],dropna=False)

In [32]:
asset_div = asset_detail.groupby(['재산구분', '재산의 종류'])

In [33]:
asset_div['현재가액'].sum().reset_index()

               재산구분           재산의 종류        현재가액
0                건물               공장  12815476.0
1                건물       교육연구 및복지시설   4335650.0
2                건물           근린생활시설  35832575.0
3                건물  근린생활시설(전세(임차)권)   1301000.0
4                건물               기타   5675635.0
..              ...              ...         ...
65               토지               하천    440094.0
66  합명·합자·유한회사 출자지분               출자    579699.0
67              회원권               골프   1141000.0
68              회원권            콘도미니엄    436330.0
69              회원권               헬스    517000.0

[70 rows x 3 columns]

In [34]:
asset_div['현재가액'].sum().reset_index().loc['건물']

KeyError: '건물'

In [ ]:
temp = asset_div.sum()[['현재가액']]
temp

In [ ]:
# temp.index

In [ ]:
asset_div_si = asset_detail[['재산구분', '재산의 종류', '현재가액']]
asset_div_si

In [ ]:
asset_total = asset_div_si['현재가액'].sum()
asset_total / 100000 # 억원, 1조 3천 7백 42억

In [ ]:
asset_div_si_total = asset_div_si.groupby(['재산구분', '재산의 종류'], dropna = False).sum()
asset_div_si_total

## 재산구분

In [ ]:
asset_div_total = asset_div_si.groupby(['재산구분']).sum()
asset_div_total

In [ ]:
# 255,852,773,000

In [ ]:
asset_div_total.reset_index().sort_values('현재가액', ascending=False)

In [ ]:
px.bar(asset_div_total.reset_index().sort_values('현재가액', ascending=True), x='현재가액', y='재산구분')

## 재산구분 > 재산의종류

### 건물

In [ ]:
asset_div_si_total.loc['건물'].sort_values('현재가액', ascending=False)

In [ ]:
# asset_div_total.reset_index().sort_values('현재가액', ascending=True)
asset_div_si_total.loc['건물'].reset_index().sort_values('현재가액', ascending=False)

In [ ]:
fig = px.bar(asset_div_si_total.loc['건물'].reset_index().sort_values('현재가액', ascending=True), x='현재가액', y='재산의 종류')
fig.update_layout(
    width = 1000,
    height = 800
)
fig.show()

In [ ]:
asset_div_si_total

In [ ]:
asset_div_si_total.index

In [ ]:
asset_div_si_total.loc['예금']